@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Azeret Mono", monospace;
}

.btn {
  width: 149px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;

  /* font style */

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

/* header start from here */
header {
  max-width: 1300px;
  margin: 0 auto;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 0 100px;
  margin-bottom: 30px;
}

.nav-name {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  text-align: left;
}
.nav-btn {
  /* Button style */
  width: 228px;
  height: 58px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
  /* btn text style */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}

/* header End */
/* Hero section start from here */
.hero-section {
  background-image: url("../images/Hero-bg.png");
  max-width: 1300px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.hero-body {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hero-body img {
  margin: 25px 0 30px 0;
}

.hero-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 24px;
}

.hero-content {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 30px;
}

.hero-btn {
  align-items: center;
  padding: 15px 20px 15px 20px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  cursor: pointer;

  /* font style */

  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
/* Hero section End */

/* Web Development section start from here */
.development-section {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.development-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.development-content {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 40px;
}
/* Web Development section End */
/* Card section start from here */
.card-section {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 80px;
}
/* Coding section start from here */
.coding-section {
  display: flex;
  gap: 90px;
  padding: 40px;
  margin-bottom: 32px;
}
.coding-section-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
}
.coding-section-subtitle {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 30px;
}
/* Card section End */
